* {
    box-sizing: border-box;
    font-family: 'Poppins';
    transition: all .3s;
}

.row {
    padding: 0;
    margin: 0 !important;

}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}

body {
    position: relative;
    display: block;
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none !important;
    transform: scale(0);
}

.empty-list {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: .8rem;
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 5px;
}

.uppr {
    text-transform: uppercase;
}

.the-container {
    position: relative !important;
    display: block;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
    text-transform: uppercase;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 30;
}

.nav .logo {
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-weight: 600;
    color: white;
    border-right: 2px solid white;
}

.nav .left {
    position: relative;
    top: 0;
    width: calc(100% - 250px);
    height: 50px;
    margin: 0 !important;
    padding: 0 20px;

    line-height: 50px;
    font-weight: 500;
    font-size: .8rem;
    text-align: right;
    color: white;
    border-right: 2px solid white;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.func {
    position: relative;
    margin-top: 50px;
    width: 100vw;
    min-height: 100vh;
}

.option-container {
    position: fixed;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 250px;
    box-shadow: 0 2px 5px 1px rgba(172, 172, 172, 0.4);
    border-right: 1px solid rgba(172, 172, 172, 0.4);
    height: calc(100vh - 50px);
}

.option-container a.goto-user {
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: blue;
    color: white;
    width: 90%;
    text-align: center;
    padding: 5px 0;
    font-size: .8rem;
    font-weight: 500;
    text-decoration: none;

    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.option-container a.goto-user img {
    position: relative;
    display: block;
    height: 16px;
    object-fit: cover;
    filter: brightness(0) invert(1);
}

.list {
    position: relative;
    list-style: none;
    width: 100%;
    margin-top: 20px;
    padding: 0 !important;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list .list-item {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 3px;

}

.list .list-item a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 15px 8px;
    width: 100%;
    font-size: .9rem;
    color: black;
}

.list .list-item a:hover {
    background-color: rgb(0, 204, 255);
    border-radius: 4px;
}

.list .list-item a.active {
    color: salmon;
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 4px;
}

.list .list-item a img {
    display: block;
    width: 20px;
    object-fit: cover;
}

.list .list-item a svg {
    width: 20px !important;
}

.list .list-item a.active img {
    filter: brightness(0) invert(1);
}

.merge-nav {
    position: relative;
    width: 90%;
    min-height: 2px;
    border: 1px solid #8a8a8a;
    margin: 0 auto !important;
}


/* ============================================ */

.content-container {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 250px;
    right: 0;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(231, 231, 231, 0.2);
}

.content {
    position: relative;
    display: block;
    padding: 5px;
    height: max-content;
}

.content .content-title {
    font-size: .8rem;
    color: rgb(65, 65, 65);
    font-weight: 600;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid rgba(155, 155, 155, 0.3);
    box-shadow: 0 0 3px 1px rgba(155, 155, 155, 0.3);
}

.my-card {
    border: 1px solid rgba(155, 155, 155, 0.3);
    box-shadow: 0 0 3px 1px rgba(155, 155, 155, 0.3);
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.left {
    position: sticky;
    top: 10px;

    display: block;
    width: 100%;
    height: max-content;
}

.content .checkin-card {
    position: relative;
    display: block;
    height: max-content;
    
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
}

.checkin-card .checkin-title {
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(116, 116, 116);
    font-size: 1.1rem;
}

.form-container form {
    position: relative;
    background-color: #FFF6E9;
}

.form-container .title-form {
    position: relative;
    width: max-content;
    padding: 3px 10px;
    font-size: .9rem;
    margin: 20px 0;
    font-weight: bold;
    background-color: #7a7a7a;
    color: white;
}

.form-container .input-container {
    position: relative;
    margin: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: .8em;
    pointer-events: none;
    font-size: .85rem;
    color: gray;
    background: white;
    z-index: 99;
    padding: 3px 5px;
    border-radius: 3px;
}

.input-container label span svg {
    width: 14px;
    margin-right: 10px;
    fill: gray;
}

input:focus ~ label,
input:valid ~ label{
    top: -3px;
    font-size: .7rem;
    color: black;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label,
select:focus ~ label,
select:valid ~ label{
    top: -3px;
    font-size: .7rem;
    color: black;
}

input:focus ~ label span svg,
input:valid ~ label span svg,
textarea:focus ~ label span svg,
textarea:valid ~ label span svg,
select:focus ~ label span svg,
select:valid ~ label span svg {
    width: 12px;
    fill: black;
}

.input-container input,
.input-container textarea,
.input-container select {
    width: 100%;
    display: block;
    min-height: 40px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: .9em;
    padding: 0 10px;
    font-weight: 500;
}


.input-container input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: .9em;
    padding: 0 35px 0 10px;
    text-transform: uppercase;
}

.input-container input[type="file"] {
    height: max-content !important;
    min-height: initial !important;
    padding: 1px 1px;
    font-size: .8rem;
}

.form-container .input-container textarea {
    padding-top: 10px !important;
}

.input-container .file-label {
    right: 3px !important;
    background-color: rgb(87, 87, 87);
    color: white;
    left: initial;
}

.form-container .form-btn {
    width: 100%;
    display: block;
    font-size: .8em;
    padding: 5px 0;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-container .form-btn.edit {
    background-color: yellow;
    color: black;
}

.list-user-title {
    position: relative;
    font-weight: bold;
    font-size: .9rem;
    color: rgb(116, 116, 116);
    margin-bottom: 20px;
}

.list-user-item {
    position: relative;
    padding: 5px 0;
    /* border-top: 1px solid rgb(167, 167, 167); */
    border-bottom: 1px solid rgb(167, 167, 167);
    max-height: 60px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    cursor: pointer;
}

.list-user-item .li-1,
.list-user-item .li-2 {
    font-size: .9rem;
    font-weight: bold;
    height: max-content;
    margin: auto 0;
}

.list-user-item .li-1 {
    color: rgb(211, 0, 98);
    position: relative;
}

.list-user-item .li-1 .room-number {
    position: absolute;
    bottom:50%;
    transform: translateY(50%);
    right: 15px;
    border: 2px solid rgb(211, 0, 98);
    padding: 5px;
    border-radius: 4px;
    font-size: .7rem;
}

.list-user-item .li-1 p,
.list-user-item .li-2 p {
    font-size: .6rem;
    font-weight: 600;
    color: black;
    margin: 0;
}

.list-user-item .li-1 p span {
    color: rgb(49, 28, 230);
}

.date-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.date {
    position: relative;
    background-color: rgba(43, 43, 43, 0.507);
    width: max-content;
    font-size: .7rem;
    padding: 1px 3px;
    margin: 2px 0;
    font-weight: 500;
    border-radius: 2px;
    z-index: 10;
}

.date.start {
    background-color: green;
    color: white;
}

.date.end {
    background-color: yellow;
    color: black;
}

.divider {
    position: relative;
    width: 90px;
    height: 30px !important;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto 0;
}

.divider p {
    text-align: center;
    font-size: .7rem;
    font-weight: bold;
    line-height: 28px;
    color: black;
}

.label-more {
    font-size: .8rem;
    color: red;
}

/* detail box */
.detail-box-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.548);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.detail-box-container.hidden {
    display: none;
    transform: scale(0);
    position: relative;
}

.my-card.p-sticky {
    position: sticky !important;
    top: 20px;
}

.detail-box {
    width: 500px;
    min-height: 200px;
    background-color: white;
    padding: 10px !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
}

.detail-box .detail-title {
    position: relative;
    font-weight: bold;
    width: 100%;
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.detail-title .close-detail-btn {
    padding: 2px 5px;
    margin: 0;
    border: none;
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 5px;

}

.detail-box .form-container {
    width: 90% !important;
}

.detail-box .detail-btn-container {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.detail-box .form-btn {
    width: 50%;
}

.detail-box .form-btn.edit {
    background-color: yellow;
    color: black;
}

.detail-box .form-btn.delete {
    background-color: red;
}

.info-container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.role {
    position: relative;
    width: max-content;
    padding: 2px 3px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-size: .7rem;
    border-radius: 15px;
    font-weight: 600;
    padding-right: 10px;
}

.role span {
    padding: 0 5px !important;
    border-radius: 15px;
    margin-right: 10px;
    background-color: white;
    color: black;
}




.img-box-hotel img {
    position: relative;
    display: block;
    width: 100%;
    max-height: 150px;
    min-height: 150px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;
}

.top-box-hotel {
    position: relative;
    display: flex;
    align-items: center !important;
    flex-direction: row !important;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: bold;
}

.top-box-hotel .star {
    color: yellow;
}

.top-box-hotel .kamar {
    color: #8a8a8a;
    font-weight: 600;
}

.mid-box-hotel {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mid-box-hotel p {
    margin: 0;
}

.mid-box-hotel .nama-hotel {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.mid-box-hotel .alamat-hotel {
    font-weight: 600;
    font-size: .8rem;
    margin: 0;
    padding: 0;
    text-wrap: wrap;
}

.mid-box-hotel .alamat-hotel.price {
    font-size: 1rem;
    font-weight: bold;
    color: crimson;
}

.box-hotel-btn-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.box-hotel-btn-container.kategori {
    flex-direction: row !important;
    margin-top: 10px;
}

.box-hotel-btn-container button.box-hotel-btn {
    position: relative;
    display: block;
    font-size: .7rem;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.box-hotel-btn-container button.box-hotel-btn.edit {color: black; background-color: yellow;}
.box-hotel-btn-container button.box-hotel-btn.delete {color: white; background-color: red;}

.my-border {
    position: relative;
    display: block;
    min-height: 1px;
    width: 95%;
    border: 1px solid rgb(121, 121, 121) !important;
    margin: 5px auto;
}

.my-border.kategori {
    height: 0 !important;
    border: 1px solid blue !important;
    margin: 0 auto;
    margin-bottom: 15px;
}

.tipe-empty {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    font-weight: 600;
    background-color: #b3b3b3;
    border-radius: 5px;
    padding: 5px 8px;
}

.tipe-empty button.addTipeKamar {
    font-size: .7rem;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.tipe-empty p {
    margin: 0;
    font-size: .8rem;
    font-weight: bold;
    color: white;
}

.list-tipe-kamar {
    position: relative;
    width: 100%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.list-tipe-kamar .tipe-item {
    position: relative;
    width: max-content;
    font-size: .8rem;
    background-color: rgb(7, 255, 69);
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
}

.txt-black {
    color: #8a8a8a !important;
    font-size: .8rem;
}

.list-item-hotel ul {
    list-style: none;
    padding: 2px;

    display: flex;
    flex-direction: column;
    gap: 3px;
}

.list-item-hotel ul li {
    font-size: .8rem;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: 500;
}