.booking-header {
    position: relative;
    font-family: 'Montserrat';
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.booking-header h3 {
    display: inline;
    margin: 0;
}

.booking-header .room-type {
    margin-left: 10px;
    padding: 3px 5px;
    background-color: rgb(210, 30, 99);
    font-size: .7rem;
    font-weight: 500;
    border-radius: 5px;
    color: white;
}

.input-container {
    position: relative;
    margin: 10px 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: .8em;
    pointer-events: none;
    font-size: .85rem;
    color: gray;
    background: white;
    z-index: 99;
    padding: 3px 5px;
    border-radius: 3px;
}

.input-container label span svg {
    width: 14px;
    margin-right: 10px;
    fill: gray;
}

input:focus ~ label,
input:valid ~ label{
    top: -3px;
    font-size: .7rem;
    color: black;
}

input:focus ~ label span svg,
input:valid ~ label span svg {
    width: 12px;
    fill: black;
}

.input-container input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: .9em;
    padding: 0 35px 0 10px;
}

.section {
    border: 2px solid rgba(156, 156, 156, 0.2);
    box-shadow: 0 0 4px 1px rgba(156, 156, 156, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px !important;
    font-family: 'Montserrat';
}

.section-head {
    margin-bottom: 20px;
}

.section-head h3 {
    margin: 0;
}

.section-head p {
    margin: 0;
    font-size: .8rem;
    color: gray;
}

.list {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.list.total {
    border-top: 2px solid rgba(128, 128, 128, 0.3);
    padding-top: 15px;
}

.list.total .price {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(211, 0, 98);
}

.pay-desc {
    line-height: 100%;
}

.pay-desc h6 {
    margin: 0;
}

.pay-desc p {
    margin: 0;
    font-size: .8rem;
    color: gray;
}

.price {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: end;
}

.booking-btn {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

/* ============================================================ */

.detail-room {
    position: sticky;
    top: 20px;
    width: 100%;
    border: 2px solid rgba(156, 156, 156, 0.2);
    box-shadow: 0 0 4px 1px rgba(156, 156, 156, 0.2);
    overflow: hidden;
    border-radius: 6px;
    z-index: 20;
}

.detail-imgcard {
    position: relative;
    overflow: hidden;
    height: 140px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.detail-imgcard img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.detail-room .detail-desc {
    padding: 5px;
    position: relative;
    background-color: white;
}

.detail-room .detail-desc p {
    font-size: .9rem;
    font-weight: 500;
    margin: 0;
    color: rgb(58, 58, 58);
    padding: 8px 5px;
}

.detail-room .detail-desc p:first-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}