* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: all .3s;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 3px;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins';
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    padding: 0 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.082));
    z-index: 99;
}

nav.pages {
    background-color: white !important;
    background: white;
    position:  relative !important;

    box-shadow: 3px 0 10px 3px rgba(116, 116, 116, 0.5);
}

nav.white {
    background: white !important;
    box-shadow: 2px 0 15px 2px rgba(0, 0, 0, 0.4);
}

nav.white .container-logo a,
nav.pages .container-logo a {
    color: black;
}

nav.white .auth-btn-container .auth-btn.masuk,
nav.pages .auth-btn-container .auth-btn.masuk {
    border-color: black;
    color: black !important;
    background: white;
}

nav .container-logo {
    position: relative;
    font-family: 'Courier New', Courier, monospace !important;
    min-width: 100px;
    padding: 10px 50px;
    color: white;
}

nav .container-logo a {
    text-decoration: none;
    color: white;
}

nav .container-logo a h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
}

nav .nav-list {
    position: relative;
    list-style: none;
    display: flex;
    min-width: 450px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav .nav-list .list-item {
    padding: 5px 10px;
}

nav .nav-list .list-item a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

nav .nav-list .list-item a:hover {
    text-decoration: underline;
}

nav .nav-list .list-item a:active {
    font-size: 1.1em;
}

nav .auth-btn-container {
    position: relative;
    width: max-content;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .auth-btn-container .auth-btn {
    padding: 5px 12px;
    border: 2px solid blue;
    margin: 5px 10px;

    background-color: blue;
    font-family: 'Poppins';
    color: white;
    border-radius: 5px;
    font-size: .8rem;

    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

nav .auth-btn-container .auth-btn:active {
    transform: scale(1.1);
}

nav .auth-btn-container .auth-btn.masuk {
    background-color: transparent;
    font-weight: 500;
}

/* ================================== */

.main {
    width: 100%;
    height: 100%;
}

.main .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./../assets/image/banner-2.jpg');
    background-size: cover;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main .banner .banner-content {
    position: relative;
    background-color: rgba(48, 48, 48, 0.815);
    padding: 20px 30px;
    border-radius: 2px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .banner h2 {
    font-size: 3.5rem;
    color: white;
    text-shadow: 1px 1px 2px 1px black;
}

.main .banner p {
    color: white;
}


.main .banner .star {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 200px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color:  black;
    overflow: hidden;
}

.main .banner .star img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
}

.container {
    margin-top: 50px;
}


/* ============================================= */


.main .room-header {
    position: relative;
    border-radius: 5px;
    background-color: blue;
    background-image: url('./../assets/image/banner-1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

    color: white;
}

.main .room-header h1 {
    color: white;
    text-shadow:  -1px -1px 4px black;
}

.main .room-item {
    position: relative;
    flex-direction: row !important;
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 250px;
    border: 1px solid rgba(170, 170, 170, 0.7);
    box-shadow: 0px 0px 5px 2px rgba(145, 145, 145, 0.4);
    overflow: hidden;
}

.main .room-item .room-content {
    position: static;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
}

.main .room-item .room-content h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.main .room-item .room-content .room-price {
    color: rgb(211, 0, 98);
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.4rem;
}

.main .room-item .room-content .txt-price {
    padding: 0;
    margin: 0;
    font-size: .7rem;
    color: gray;
    font-weight: bold;
}

.main .room-item .room-content .room-desc {
    font-size: .8rem;
    margin-top: 10px;
}

.main .room-item .room-content a {
    position: relative;
    display: block;
    padding: 5px;
    text-align: center;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: .8rem;
    text-decoration: none;
}

.main .room-item .img-box {
    position: relative;
    display: block !important;
    width: auto;
    flex: 0 0 auto;
}

.main .room-item .room-thumbnail {
    position: relative;
    display: block;
    width: 200px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.main .room-item .room-content ul {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 5px;
    padding: 0;
    flex-wrap: wrap;
}

.main .room-item .room-content ul li {
    position: relative;
    background-color: gray;
    padding: 3px 8px;
    border-radius: 3px;
    line-height: 80%;
}

.main .room-item .room-content ul li svg {
    height: 15px;
    fill: white;
}

.main .room-go-btn {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
    background: url('./../assets/image/banner-1.jpg');
    background-position: bottom;
    background-size: cover;
}

.main .room-go-btn a {
    text-decoration: none;
    padding: 2px 8px;
    background-color: white;
    box-shadow: 0 0 2px 1px white;
    border-radius: 4px;
    font-weight: 600;
    font-size: .8rem;
    color: blue;
}

.main .room-go-btn a:hover {
    font-size: .7rem;
}



/* =================== footer */
footer {
    position: relative;
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    padding: 15px 0 0 0;
    /* background-color: rgb(226, 226, 226); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid rgb(31, 31, 31);
}

footer .bottom {
    width: 100%;
    background-color: rgb(31, 31, 31);
    padding: 25px 30px;
    color: white;
    font-size: .8rem;
}

footer .top {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 15px 30px 55px 30px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

footer .top .left {
    width: 20%;
}

footer .top .left h2 {
    font: .8rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

footer .top .left p {
    font-size: .7rem;
    font-weight: 500;
    text-align: justify;
}

footer .top .right {
    position: relative;
    width: max-content;
    height: max-content;
    margin-left: 50px;
}

footer .top .right .footer-list h3 {
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;
}

footer .top .right .footer-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .top .right .footer-list ul > li span {
    height: max-content;
    display: inline-block;
}

footer .top .right .footer-list ul > li span svg {
    padding: 0;
    margin: 0;
    height: 20px;
    line-height: -100%;
}

footer .top .right .footer-list ul > li {
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

footer .top .right .footer-list ul > li a {
    color: black;
    text-decoration: none;
}

footer .top .right .footer-list ul > li a:hover {
    text-decoration: underline;
}